<div id="<%= dom_id employee_pto %>">
  <p>
    <strong>Pto type:</strong>
    <%= employee_pto.pto_type %>
  </p>

  <p>
    <strong>PTO date:</strong>
    <%= employee_pto.pto_date %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= employee_pto.employee_id %>
  </p>

</div>
