<h1>Editing employee pto</h1>

<%= render "form", employee_pto: @employee_pto %>

<br>

<div>
  <%= link_to "Show this employee pto", @employee_pto %> |
  <%= link_to "Back to employee ptos", employee_ptos_path %>
</div>
